#banner-container-home {
  flex-direction: column-reverse;
  align-items: center;
}

#banner-home-subtitle {
  text-align: center;
  font-size: 1.25rem;
}

#home-banner-header {
  text-align: center;
  font-size: 2.5rem !important;
}

#image-container-home {
  padding-inline-start: 0px !important;
}
